.book {
  max-width: 1300px;
  margin: 0 auto;

  p {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    color: var(--color-dark-grey);
    font-family: var(--font-family-poppins);
  }

  img {
    padding-top: 3rem;
    height: auto;
  }
}
