.put-button-in-middle{
    display: flex;
    justify-content: center;
    padding: var(--spacing-double) 0;
    background-color: var(--color-light-grey);
}

.button {
    text-align: center;
    border: var(--color-beige) 1px solid;
    padding: 0.5rem 4rem;
    transition: background-color var(--transition-time-short) ease, color var(--transition-time-short) ease;
    text-decoration: none;
    color: var(--color-beige);

    a {
        color: var(--color-beige);
        text-decoration: none;
    }
}

.button:hover {
    background-color: var(--color-beige);
    color: var(--color-light-grey);

    a {
        color: var(--color-light-grey);
    }
}

.bottom-button {
    padding: 4rem 0;
    text-align: center;
}