.put-button-in-middle{
    display: flex;
    justify-content: center;
    padding: var(--spacing-double) 0;
    background-color: var(--color-light-grey);
}

.button {
    text-align: center;
    border: var(--color-beige) 1px solid;
    padding: 0.5rem 4rem;
    transition: background-color var(--transition-time-short) ease, color var(--transition-time-short) ease;
    text-decoration: none;
    color: var(--color-beige);

    a {
        color: var(--color-beige);
        text-decoration: none;
    }
}

.button:hover {
    background-color: var(--color-beige);
    color: var(--color-light-grey);

    a {
        color: var(--color-light-grey);
    }
}

.bottom-button {
    background-color: var(--color-light-grey);
    padding: 4rem 0;
    text-align: center;
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light-grey);

    @media (min-width: 700px) {
        .button, .bottom-button {
            margin: 0rem 3rem;
        }
    }
}

.line {
    flex-grow: 1;
    height: 1px;
    border: none;
    background-color: var(--color-grey);

    @media (max-width: 699px) {
        display: none;
    }
}