@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(12, 1fr);

    justify-items: center;
    gap: var(--gutter);
    width: 100%;
    min-height: 100vh;
    padding: 0 0; // might need to figure this shit out
  }
  .wrapper > * {
    grid-column: span 12;
  }
  .intro {
    height: 800px;
    background-size: 850px;
    background-position: calc(50vw) -65px;
  }
  .phone {
    display: none;
  }
}
