.intro {
  background-color: var(--color-light-grey);
  background-image: url("../myndir/pumpkinPie.png");
  background-repeat: no-repeat;
  padding-top: 5rem;

  p,
  a {
    font-family: var(--font-family-poppins-bold);
  }

  h1 {
    padding-top: 0.2rem;
    padding-bottom: 1rem;
  }

  .subtitle {
    color: var(--color-beige);
  }

  /*Removing this destroys responsiveness and adds an image... idk */
  img {
    display: none;
  }

  /**
    img {
        object-fit: cover;
        max-width: 100vh;
        width: 100%;

        position: absolute;
        top: 10px;
        left: 50px;
    }
    **/
}
