.intro-gradient {
  @media (min-width: 700px) {
    background: linear-gradient(
      to bottom,
      white 0%,
      var(--color-light-grey) 100%
    );
  }
}

.intro {
  background-color: var(--color-light-grey);
  background-image: url("../myndir/pumpkinPie.png"), url("../myndir/shadow.png");
  background-repeat: no-repeat;

  @media (min-width: 700px) {
    background-color: transparent;
  }

  p,
  a {
    font-family: var(--font-family-poppins-bold);
  }

  .subtitle {
    color: var(--color-beige);
  }
}

@media (min-width: 700px) {
  .recipe-intro {
    background-color: white;
  }
}